<div class="card mb-4 col col-12 col-lg-4 col-md-6 shadow">
   <div class="card-body text-center">
      <img
         src="{{profilePicture}}"
         alt="avatar"
         class="rounded-circle img-fluid"
         style="width: 150px;"
      />
      <h5 class="my-3">{{name}}</h5>
      <p class="text-muted mb-4">{{email}}</p>
      {{#if isAuthenticated}}
         <div class="d-flex justify-content-center mb-2">
            <a href="/logout" class="btn btn-primary">Logout</a>
         </div>
      {{/if}}
   </div>
</div>